In [2]:
# 사용자 정의함수 경로 설정
import sys
sys.path.append("G:/내 드라이브/Source/_Custom_Function")
# 사용자 정의함수 불러오기
import ExcelFile_Merge as em
import ExcelFile_Read as er

import pandas as pd

In [ ]:
for year in range(2024, 2025):
    bike_rent = em.Read_File(r'G:\내 드라이브\DataSet\_파킷 파일\서울특별시 공공자전거 대여이력 정보\서울특별시 공공자전거 대여이력 정보_' + str(year) + '_preprocessed.parquet')
    display(bike_rent)

,자전거번호,대여대여소번호,대여대여소명,대여거치대,반납대여소번호,반납대여소명,반납거치대,이용시간(분),이용거리(M),대여일자,대여시간,반납일자,반납시간,대여시간차,이용시간-대여시간차,이용속도(km/h)
0,SPB-46712,04804,동서울농협 앞,0,01416,상봉역 3번출구,0,1,0.00,2024-01-01,00:04:10,2024-01-01,00:05:13,0 days 00:01:03,-0.050000,0.000000
1,SPB-35089,04169,신대방삼거리,0,00251,서울지방병무청 버스정류장,0,6,1147.58,2024-01-01,00:00:10,2024-01-01,00:06:23,0 days 00:06:13,-0.216667,11.475800
2,SPB-36386,00540,군자역 7번출구 베스트샵 앞,0,03509,세종사이버대학교,0,3,642.13,2024-01-01,00:03:13,2024-01-01,00:06:33,0 days 00:03:20,-0.333333,12.842600
3,SPB-61278,01139,용문사 버스정류장,0,00701,목동사거리 부근,0,4,830.00,2024-01-01,00:02:42,2024-01-01,00:07:24,0 days 00:04:42,-0.700000,12.450000
4,SPB-36848,03416,동묘앞역 6번출구,0,00346,맥스타일 앞,0,4,791.08,2024-01-01,00:03:02,2024-01-01,00:07:33,0 days 00:04:31,-0.516667,11.866200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22107533,SPB-60147,00931,역촌파출소,0,None,None,None,60,1345.00,2024-06-30,19:40:14,2024-07-01,21:03:46,1 days 01:23:32,-1463.533333,1.345000
22107535,SPB-83444,00124,서강대 정문 건너편,99,None,None,None,60,3633.00,2024-06-30,23:49:29,2024-07-02,11:24:17,1 days 11:34:48,-2074.800000,3.633000
22107536,SPB-52120,00334,종로3가역 2번출구 뒤,0,None,None,None,60,4348.00,2024-06-30,22:42:25,2024-07-02,11:24:51,1 days 12:42:26,-2142.433333,4.348000
22107538,SPB-50402,03569,건대병원후문,0,None,None,None,870,848.00,2024-06-30,23:57:41,2024-07-02,13:00:21,1 days 13:02:40,-1352.666667,0.058483
22107539,SPB-56869,02547,반포래미안 리오센트,0,None,None,None,870,2119.00,2024-06-30,18:35:04,2024-07-02,13:00:59,1 days 18:25:55,-1675.916667,0.146138

In [13]:
# import pandas as pd

# # 데이터프레임 예시로 대체, 실제 데이터프레임을 사용하세요
# # df = pd.DataFrame(...)

# # 그룹화 및 집계
# grouped_df = bike_rent.groupby(['대여대여소번호', '반납대여소번호']).agg({
#     '이용시간(분)': 'sum',
#     '이용거리(M)': 'sum',
#     '자전거번호': 'count'  # count를 이용해 이용량 계산
# }).rename(columns={'자전거번호': '이용량'}).reset_index()

# 결과 출력
# display(grouped_df[grouped_df['이용거리(M)'] > 0].sort_values(by='이용량', ascending=False).reset_index(drop=True))
display(grouped_df[grouped_df['이용거리(M)'] > 0].sort_values(by='이용거리(M)', ascending=False).reset_index(drop=True))
# display(grouped_df[grouped_df['이용거리(M)'] > 0].sort_values(by='이용시간(분)', ascending=False).reset_index(drop=True))

# display(grouped_df[grouped_df['대여대여소번호'] != grouped_df['반납대여소번호']].sort_values(by='이용량', ascending=False).reset_index(drop=True))
display(grouped_df[grouped_df['대여대여소번호'] != grouped_df['반납대여소번호']].sort_values(by='이용거리(M)', ascending=False).reset_index(drop=True))
# display(grouped_df[grouped_df['대여대여소번호'] != grouped_df['반납대여소번호']].sort_values(by='이용시간(분)', ascending=False).reset_index(drop=True))

# display(grouped_df[grouped_df['이용거리(M)'] > 0].sort_values(by='이용량', ascending=False).reset_index(drop=True))
# display(grouped_df[grouped_df['이용거리(M)'] > 0].sort_values(by='이용거리(M)', ascending=False).reset_index(drop=True))
# display(grouped_df[grouped_df['이용거리(M)'] > 0].sort_values(by='이용시간(분)', ascending=False).reset_index(drop=True))

       대여대여소번호 반납대여소번호  이용시간(분)      이용거리(M)    이용량
0        04217   04217   895843  90211894.74  18167
1        00502   00502   749258  66273897.53  16031
2        00207   00207   485817  45555257.24   9998
3        00565   00565   337165  41906478.65   6865
4        02102   02102   278003  37837124.25   6138
...        ...     ...      ...          ...    ...
842275   02369   04458       54         0.10      1
842276   04316   00231       60         0.10      1
842277   02084   00565       47         0.10      1
842278   00870   02212       48         0.10      1
842279   01121   00419       34         0.10      1

[842280 rows x 5 columns]

       대여대여소번호 반납대여소번호  이용시간(분)      이용거리(M)   이용량
0        04217   00907    65028  10157916.90  1593
1        00907   04217    67211   9989785.19  1511
2        00117   04217    64854   9596017.79  1277
3        04217   00117    58115   9223437.16  1315
4        00583   00502    52105   8213753.18  1003
...        ...     ...      ...          ...   ...
839566   00646   03404        0         0.00     1
839567   00480   00307        0         0.00     1
839568   01178   05072        0         0.00     1
839569   00671   00669        1         0.00     1
839570   00515   03621        0         0.00     1

[839571 rows x 5 columns]

In [19]:
station_info = em.Read_File(r'G:\내 드라이브\DataSet\_파킷 파일\서울시 공공자전거 대여소 정보\공공자전거 대여소 정보_통합본_최종.parquet')
station_info[station_info['대여소번호'] == '04217']
station_info[station_info['대여소번호'] == '00502']
# station_info[station_info['대여소번호'] == '00207']
# station_info[station_info['대여소번호'] == '00565']
# station_info[station_info['대여소번호'] == '02102']

,대여소번호,대여소명,자치구,상세주소,위도,경도,설치시기,LCD,QR,운영방식,데이터등록월,대여소ID,거치대수
1219,00502,뚝섬유원지역 1번출구 앞,광진구,서울특별시 광진구 능동로 10 뚝섬유원지역 1번출구 앞,37.53186,127.067192,2015-10-07,17.0,33.0,QR,2024-06,None,NaN